:root {
  --text-primary-color: #403F3D;
  --text-inverse-color: #E1D4C9;
  --text-accent-color: #B0907A;
  --page-bgc: #E1D4C9;
  --container-bgc: #665F55;
  --overlay-bgc: #403F3DCC;
  --border-primary-color: #C1B6AD;
  --border-inverse-color: #665F55;
}

body.dark-theme {
  --text-primary-color: #E1D4C9;
  --text-inverse-color: #E1D4C9;
  --text-accent-color: #B0907A;
  --page-bgc: #292826;
  --container-bgc: #403F3D;
  --overlay-bgc: #292826CC;
  --border-primary-color: #665F55;
  --border-inverse-color: #C1B6AD;
}